body{
    margin: 15px;
}

div{
    width: 200px;
    border: solid 1px black; 
    background-color: rgb(236, 160, 72);
	box-shadow: 5px 5px 5px black;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}